<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ForeGroundNotificationServicePractice"
        tools:targetApi="31">
        <activity
            android:name=".customnotification.CustomNotificationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".staticnotification.MainActivity"
            android:exported="false" />

        <service
            android:name=".staticnotification.service.ForeGroundService"
            android:exported="false" />

        <service
            android:name=".customnotification.service.CustomForegroundService"
            android:exported="false" />

        <receiver
            android:name=".customnotification.broadcastreceiver.ButtonReceive"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".customnotification.ui.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".customnotification.ui.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".customnotification.ui.ThirdActivity"
            android:exported="false" />
    </application>

</manifest>